<footer class="footer">
                <div class="py-3">
                    <a href="https://www.facebook.com/kh.nishad.9"><i class="fab fa-facebook fa-2x  mx-3"></i></a>
                    <a href="https://github.com/KhNishad"><i class="fab fa-github fa-2x  mx-3"></i></a>

                </div>
                <p>&copy;
                    <script>document.write(new Date().getFullYear())</script> Kh Nishad
                </p>
   
</footer>