
<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo"> <i class="fas fa-book-reader"> StoryBooks</i></a> 
        <a href="#" data-target="mobile-demoo" class="sidenav-trigger"><i class="fa fa-bars fa-2x"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard" class="fas fa-home"> Dashboard</a></li>
            <li><a href="/stories" class=" fas fa-users"> Public Story</a></li>
            <li class=""><a href="/auth/logout" class=" fas fa-sign-out-alt"> Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demoo">
    <li><a href="/dashboard" > Dashboard</a></li>
    <li><a href="/stories" > Public Story</a></li>
    <li><a href="/auth/logout" > Logout</a></li>
</ul>