<nav class="dark">
    <div class="nav-wrapper container">
        <ul class="nav" id="mobile-demo">
          
            <li><a href="/dashboard" class="fas fa-home"> Dashboard</a></li>
            <li><a href="/stories" class="fas fa-book-reader "> Public Stories</a></li>
            <li><a href="/stories/add" class="fas fa-plus "> Create Story</a></li>

           
            <li  class=""><a href="/auth/logout" class="fa fa-sign-out-alt"> Logout</a></li>
        </ul>
    </div>
</nav>